@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color:#fff ;
    font-size: 16px;
    background: #000;
}

a {
    text-decoration: none;

}

img {
    width: 55%;
}

.wrapper {
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(74, 40, 0, 1) 100%);
    width: 100%;
    overflow-x: hidden;
}
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

header {
    padding: 50px 0; 
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
    position: relative;
}

header nav{
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between ;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;

}
header nav ul li a{
    color:#fff
}

header nav ul li.active::after {
        content: '';
        display: block;
        width: 40px;
        height: 5px;
        background-color: #DC7000 ;
        border-radius: 10px;
        position: relative;
        top: 10px;
        left: -20px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover, 
.email .block button:hover {
    background: #a02604 ;
}

.hero {
    padding-bottom: 100px;
   position: relative;
   z-index: 1;
   
}
.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2{
    color: #E87D0E;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1{
    font-size: 50px;
    font-weight: 600;
}

.hero--info p{
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background-color: #FA8305;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: -150px;
    right: 0;
    
}
.trending {
    padding-top: 50px;
}

.trending h3 {
    font-weight: 600;
    font-size: 31px;
}
.trending .see-all,
 .projects .see-all {
    color: #fff;
    background-color: #25211D;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: 500ms ease;
}

.projects .see-all {
    float: none;
}

.trending .see-all:hover, 
.projects .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
   justify-content: space-between;
    width: 100%;
    padding: 50px 0px;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;

}

.trending .games img {
    width: 100%;
}

.trending .games span img {
    position: relative;
    top: 5px;
    margin-right: 7px;
    width: 10%;
}

.big-text {
    padding: 50px 0px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

.bunner {
    padding: 80px 0px;
}

.bunner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.bunner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}

.bunner img {
    width: 100%;
    margin-bottom: 30px;
}

.features {
    background: url('/Wow/img/ggg.png') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.features h3 
 {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}


.features p 
 {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 30px;
}

.features .info .block img {
    width: 30%;
}


.features .info .block img.arrow {
     width: 10%; 
 }

.projects {
    padding: 100px 0;
}

.projects h3 {
    font-size: 30px;
    text-align: center;
}

.projects p {
    margin: 40px;
    text-align: center;
}

.projects .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin-bottom: 35px;
}

.projects .images img {
  width: 100%;
  height: 300px;          
  object-fit: cover;      
  border-radius: 12px;   
  display: block;
}


.projects .see-all {
    float: none;
    width: 60px;
    text-align: center;
    margin: 0 auto;
}


.email {
  padding-bottom: 120px;  
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
}

.email .block {
    background: #1C140F ;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4 {
    font-size: 30px;
    font-weight: 500;

}

.email .block p {
    width: 500px;
}

.email .block input {
    background:#fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
      font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 20px 30px;
    position: relative;

    z-index: 1;
    padding-right: 120px;
}


.email .block input::placeholder {
    color: #898989;
}

.email .block button {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

.email .block button:hover {
    background: #a02604 ;
}

.email .block button {
    cursor: pointer;
    border: 0;
    padding: 13px 17px;
    position: relative;
    z-index: 2;
    color: #fff;
}

.hero-about {
    position: relative;
}

.hero-about img {
    position: absolute;
    right: -150px;
    top: 0;
}

.hero-about .info {
    width: 500px;
    padding: 250px 0;
}

.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
}
.hero-about .info .btn {
    margin-top: 20px;
}

.hero-about .info .btn {
    background-color: #FA8305;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}

.hero-about .info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.work {
    padding: 80px 0;
}

.work h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

.work .blocks {
    display: flex;
    justify-content: space-between;
}

.work .blocks .block {
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background: #1C140F;
}

.work .blocks .block h3 {
    font-size: 20px;
    margin: 20px 0;

}

.work .blocks .block .badge {
    border-radius: 7px;
    padding: 10px 20px;
}

.work .blocks .block .badge.purple {
    background: #560F67;
}

.work .blocks .block .badge.brown {
    background: #31190D;
}

.work .blocks .block .badge.green {
    background: #192A1D;
}

.hero-contacts h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 33px;
}

.hero-contacts p {
    text-align: center ;
}

.hero-contacts img {
    
    width: 70%;
    margin: 100px 200px;
}

.feetback {
    padding: 70px 0;
    background: #1C140F;
}

.feetback h2 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;

}



.feetback p {
    text-align: center;
    margin-top: 10px;
}

.feetback form {
    margin: 80px auto;
    width: 600px;
}

.feetback form .inline {
    display: flex;
    justify-content: space-between;

}

.feetback form .inline > div {
    width: 100%;
}

.feetback form .label {
    color: #4f4f4f;
    font-size: 14px;
}

.feetback form input,
.feetback form textarea {
    background: #2c2420;
    border-radius: 10px;
    border: 0.6px solid #CECECE;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 20px;
} 

.feetback form .one-Line {
    width: 96%;
}

.feetback form textarea {
    resize: none;
    height: 200px;
}

.feetback form button {
    background: #DC7000;
    border-radius: 5px;
    border: 0;
    float: right;
    cursor: pointer;
    color: #fff;
    padding: 15px 35px;
    transition: all 500ms ease;

}

.feetback form button:hover {
    background: #b01414;
}

footer {
    background: #000;
    padding: 50px 0;
}

footer .block {
    display: flex;
    justify-content: space-between;
}

 footer .block .Logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
    position: relative;
}

footer .block p {
    width: 300px;
    padding: 15px 0;
}

footer .block h4 {
    font-weight: 500;
    font-size: 15px;
}

footer.block ul li {
    margin-top: 7px ;
    opacity: 0.8;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer > p {
    text-align: center;
}